*{
	margin:0;
	padding: 0;
}

.main{
	width:100%;
	background: linear-gradient(to top,rgb(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),
	url(Bg_img.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
	
}

.navbar{
	width:1200px;
	margin: auto;
	height: 75px;
		
}
.icon{
	width:200px;
	float: left;
	height:70px;
}

.logo{
	color:#ff7200;
	font-size:35px;
	font-family: Arial;
	padding-left:20px;
	float:left;
	padding-top: 10px;

}

.menu{
	width:400px;
	float:left;
	height: 70px;
        
}

ul{
	float:left;
	display:flex;
	justify-content: center;
	align-items:center;
}
ul li{
	list-style:none;
	margin-left: 45px;
	margin-top: 27px;
	font-size: 20px;
}
ul li a{
	text-decoration: none;
	color: #fff;
	font-famiy: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}
 ul li a:hover{
	color:aqua}

.search{
	width: 330px;
	float:left;
	margin-left:270px;
		
}

.srch{
	font-family:'Times New Roman';
	width:200px;
	height:40px;
	background: transparent;
	border:2px solid #ff7200;
	margin-top: 13px;
	color: white;
	border-right:none;
	border-size: 16px;
	float:left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;

}

.btn{
	width: 100px;
	height:40px;
	background: #ff7200;
	border: 2px solid #ff7200;
	margin-top: 13px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.btn:focus{
	outline: none;
}

.srch:focus{
	outline:none;
}

.content{
	width: 1200px;
	height: auto;
	margin:auto;
	color: white;
	position: relative;	
}

.content .par{
	padding-left: 20px;
	padding-bottom: 25px;
	font-family: Arial;
	letter-spacing:1.2px;
	line-height: 30px;
}

.content h1{
	font-family: 'Times New Roman';
	font-size: 45px;
	padding-left: 20px;
	margin-top: 9px;
	letter-spacing:2px;
}

.content span{
	color: orange;
	font-size:50px;

}

.content .time{
	color: orange;
	font-size: 20px;

}

.form{
	width: 250px;
	height: 380px;
	background: linear-gradient(to top,rgb(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%),
	url(form.png);
	position: absolute;
	top:-20px;
	left: 900px;
	border-radius: 10px;
	padding: 25px;
}

.content .form h2{
	width: 220px;
	font-family: sans-serif;
	text-align: center;
	color: #ff7200;
	font-size: 22px;
	background-color: White;
	border-radius: 10px;
	margin: 2px;
	padding: 8px;
}

.form input{
	width:240px;
	height: 35px;
	background: transparent;
	border-bottom: 1px solid #ff7200;
	border-top:none;
	border-right: none;
	border-left: none;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 30px;
	font-family: sans-serif;

}

.form input:focus{
	outline:none;
}

::placeholder{
	color: white;
	font-family: Arial;
}
.btnn{
	width: 240px;
	height: 40px;
	background: #ff7200;
	border: none;
	margin-top: 30px;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	color:white;
	transition: 0.4s ease;
}
.btnn:hover{
	background:white;
	color: #ff7200;	
}

.btnn a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.form .link{
	font-family: Arial;
	font-size: 17px;
	padding-top: 20px;
	text-align: center;
}

.form .link a{
	
	text-decoration: none;
	color: #ff7200;	
}


.btnn:hover{
	background:white;
	color: #ff7200;	
}
.liw{
	padding-top:15px;
	padding-bottom: 10px;
	text-align: center;
}

.footer{
	
	width: 1200px;
	height: auto;
	margin:auto;
	color: white;
	position: relative;	

}
.content .con span{
	font-size:20px;
	font-weight:bold;
	color:black;
}

.content h2{
	font-family:'Times New Roman';
	font-size:40px;
	padding-left:10px;
	margin-top: 9px;
	letter-spacing:2px;
	color:red;
}

.order{
	width: 250px;
	height: 250px;
	background: linear-gradient(to top,rgb(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%),
	url(zomato.png);
	position: absolute;
	top:100px;
	left: 800px;
	border-radius: 10px;
	padding: 25px;
}

.order h2{
	color: orange;
}
.feed{
	width: 700px;
	height: 570px;
	margin:auto;
	color: Blue;
	position: relative;
        background-color:thistle;
        	
}
.menu1{background-color:peachpuff;
width: 700px;
	height: 580px;
left: 100px;
position: absolute;
}
.dishes{
	width: 530px;
	height: 520px;
	background:linear-gradient(to top,rgb(0,0,0,0.2)50%,rgba(0,0,0,0.2)50%),
	url(sweet.png);
	position: absolute;
	top:5px;
	left: 800px;
	border-radius: 10px;
	padding: 25px;}